@import 'index.css';

/* Header */

.header {
	align-items: center;
	justify-content: space-between;
}

.logo {
	margin: 1rem;
	text-decoration: none;
}

.navbar {
	list-style-type: none;
	padding-inline-end: 1rem;
	margin: 0;
	gap: 50px;
}

.nav-link {
	text-decoration: none;
	text-align: center;
	display: block;
}
