@import 'index.css';

/* Header */

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo {
	margin: 1rem;
	text-decoration: none;
}

.navbar {
	display: flex;
	list-style-type: none;
	padding-inline-end: 1rem;
	margin: 0;
	gap: 50px;
}

.nav-link {
	text-decoration: none;
	text-align: center;
	display: block;
}

/* Sidebar */

.sidebar {
	display: flex;
	flex-direction: column;
	position: fixed;
	top: 5rem;
	left: 0;
	height: 100%;
	width: 300px;
	flex-shrink: 0;
}

.sidebar ul li {
	list-style: none;
	align-items: flex-start;
	margin-block-end: 10px;
}

.nav-link-sidebar {
	color: var(--clr-dark);
	text-decoration: none;
}

.nav-link-sidebar .fa-fw {
	margin-right: 12px;
}

/* Dashboard */

.homepage-container {
	height: calc(100vh - 80px);
	overflow: hidden;
}

.dashboard-card {
	position: relative;
	width: 100%;
	background-size: cover;
	background-position: center;
}

.dashboard-card-description {
	position: absolute;
	bottom: 10px;
	left: 10px;
	text-align: center;
	width: 100%;
}

.dashboard {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	gap: 30px;
	padding: 30px 16px 0 320px;
	height: 100%;
}

.city-search-bar {
	width: 500px;
	background-color: var(--clr-accent);
	border-radius: 10px;
	border-style: none;
}

.city-search-bar:focus {
	outline: none;
}
